body {
  text-align: center;
  background: linear-gradient(to bottom, #000428, #004e92);
  color: white;
  font-family: Arial, sans-serif;
}

canvas {
  background: black;
  border: 3px solid white;
  margin-top: 10px;
}